[2021-10-22 01:32] msarmi9 opened #756 "[bug]: `Error: compute_ctc_loss, stat = execution failed`"
### Bug Description
Can't reproduce colab [FinetuneCTC tutorial](https://colab.research.google.com/github/flashlight/flashlight/blob/master/flashlight/app/asr/tutorial/notebooks/FinetuneCTC.ipynb#scrollTo=Ryc17nPTds7Q) in a docker container running on a `p2.xlarge` EC2 instance. The container is using the `flml/flashlight:cuda-latest` image. Running the following command from the tutorial throws `

[2021-11-06 09:12] joazoa commented on #754
Can you explain a bit more what you mean ? You can add more phrases to your lexicon before decoding and you could boost their them by using a language model where they are overrepresented. (e.g. by adding them multiple times to the text you are making the language model on)

[2021-11-06 09:15] joazoa commented on #686
I don't think this will be the same issue, it's easy to verify by disabling the mixed precision. If without mixed precision all is fine, the issue is the same.

As this seems to be happening pretty much immediately for you, i wonder if you should not reduce the learning rate, or add a warmup period instead.

[2021-11-10 03:23] harisgulzar1 opened #763 "[Changing Hyper Parameters of Conformer Model]"
### Question
I want to train conformer model from scratch but after tweaking some hyperparameters (to make the model smaller) i.e. reducing the convolutional layers etc.

In the ASR finetuning tutorial, it uses the model architecture file which I don't find in repository.
How can I train a new model architecture or change an existing one before training?

#### Additional Context
For example in ASR

[2021-11-10 11:28] Nithin-Holla commented on #754
@joazoa One step would definitely be adding these words to the lexicon at runtime, if they are out of vocabulary. For the next step, we would need a way to boost the language model scores of these words at runtime. Is there a way to do that without re-training the language model along with the original training corpus?

[2021-11-10 11:34] joazoa commented on #754
I think you can, but i don't think it will be fast enough.
https://github.com/danpovey/pocolm/blob/master/docs/motivation.md
https://github.com/kpu/kenlm/issues/98
SRILM also has something for it.

[2021-11-10 13:26] joazoa commented on #763
You can find the model here and some alternatives.

https://github.com/flashlight/wav2letter/tree/main/recipes/rasr
You can modify the file, but you will need to retrain from scratch.

They did not provide the training configuration for these files, but you can have an idea by opening the .bin file in an editor, the configuration is stored in plaintext.

You can get another example here for transf

[2021-11-12 04:56] vwrj opened #764 "Colab tutorial notebook errors out"
### Bug Description
Colab Notebook (`fl_asr_tutorial_inference_ctc`): https://colab.research.google.com/github/flashlight/flashlight/blob/master/flashlight/app/asr/tutorial/notebooks/InferenceAndAlignmentCTC.ipynb

#### Reproduction Steps

I'm using the GPU runtime (CUDA backend) on the Colab.

Running the second cell with the `cmake .. -DCMAKE_BUILD_...` command produces the following error:

[co

[2021-11-18 17:10] pranavpawar3 commented on #764
Hi @vwrj, I have been facing the same bug, it occurs on all the machines I tested (EC2 DL VM and local). Have you been able to resolve this bug?

[2021-11-21 22:10] vwrj commented on #764
@pranavpawar3 using the previous flashlight release works -- thank you!

[2021-11-23 06:01] avi-champ opened #767 "Make Error after successful CMake"
make all is failing because CMake reported following errors mentioned in log below

Make Error:
/usr/bin/ld: cannot find -lcereal
/usr/bin/ld: cannot find -lArrayFire::afcpu
/usr/bin/ld: cannot find -lDNNL::dnnl
collect2: error: ld returned 1 exit status
make[2]: *** [CMakeFiles/myProject.dir/build.make:86: myProject] Error 1
make[1]: *** [CMakeFiles/Makefile2:68: CMakeFiles/myProject.dir/all] Err

[2021-11-24 06:20] avi-champ commented on #767
Please suggest any workaround for the issue

[2021-11-24 07:35] avi-champ commented on #142
Please let me know how to link arrayfire, cereal right now - As i have the same issue

[2021-11-24 16:00] jacobkahn commented on #142
@avi-champ this generally means the ArrayFire target you intended to build wasn't built. Make sure you built the ArrayFire CPU backend/check for `libafcpu.so`.

[2021-11-24 16:01] jacobkahn commented on #767
@avi-champ Can you install DNNL, ArrayFire CPU, and cereal with vcpkg and try again? Looks like they aren't installed.

[2021-11-24 16:19] avi-champ commented on #767
Can you help how to get this done?

[2021-11-24 16:21] jacobkahn commented on #767
[code]

[2021-11-25 03:09] avi-champ commented on #767
Thanks. I have run this command and here are my results
Computing installation plan...
The following packages are already installed:
    arrayfire[core,cpu,unified]:x64-linux -> 3.8.0
    cereal[core]:x64-linux -> 1.3.0#1
    onednn[core]:x64-linux -> 2.4.3
Package arrayfire:x64-linux is already installed
Package cereal:x64-linux is already installed
Package onednn:x64-linux is already installed
R

[2021-11-25 08:13] avi-champ commented on #767
Thanks for the update. I have installed all 3 packages. Now I am getting error when I Make

[ 50%] Linking CXX executable myProject
/usr/bin/ld: warning: libmkl_core.so.1, needed by /root/Desktop/vcpkg/packages/arrayfire_x64-linux/lib/libaf.so.3.8.0, not found (try using -rpath or -rpath-link)
/usr/bin/ld: warning: libmkl_intel_lp64.so.1, needed by /root/Desktop/vcpkg/packages/arrayfire_x64-linux/

[2021-11-25 14:25] jacobkahn commented on #767
@avi-champ There should be a script as part of MKL/oneAPI that should set environment variables properly so that these libs can be found at compile time.

- [oneAPI setup](https://software.intel.com/content/www/us/en/develop/documentation/oneapi-programming-guide/top/oneapi-development-environment-setup.html)
- [`setvars.sh`](https://software.intel.com/content/www/us/en/develop/documentation/oneap

[2021-11-26 04:28] avi-champ commented on #767
@jacobkahn I have run that script but no success yet

source setvars.sh

:: initializing oneAPI environment ...
   bash: BASH_VERSION = 4.4.19(1)-release
:: advisor -- latest
:: ccl -- latest
:: compiler -- latest
:: dal -- latest
:: debugger -- latest
:: dev-utilities -- latest
:: dnnl -- latest
:: dpcpp-ct -- latest
:: dpl -- latest
:: intelpython -- latest
:: ipp -- latest
:: ippcp -- latest
::

[2021-11-26 07:04] avi-champ commented on #767
@jacobkahn When executed source setvars.sh from the directory of project (inside build) the following warnings went away
/usr/bin/ld: warning: libmkl_core.so.1, needed by /root/Desktop/vcpkg/packages/arrayfire_x64-linux/lib/libaf.so.3.8.0, not found (try using -rpath or -rpath-link)
/usr/bin/ld: warning: libmkl_intel_lp64.so.1, needed by /root/Desktop/vcpkg/packages/arrayfire_x64-linux/lib/libaf.s

[2021-11-26 13:55] avi-champ commented on #767
Finally could solve the issue by updating the CMakeLists.txt

cmake_minimum_required(VERSION 3.10)
set(CMAKE_CXX_STANDARD 17)
set(CMAKE_CXX_STANDARD_REQUIRED ON)
set(MKL_DIR /opt/intel/oneapi/mkl)

add_executable(myProject project.cpp)

find_package(ArrayFire CONFIG REQUIRED)
target_link_libraries(myProject PRIVATE ArrayFire::af ArrayFire::afcpu)

find_package(dnnl CONFIG REQUIRED)
target_link_lib

[2021-11-26 15:12] #767 closed

[2021-11-30 03:42] #764 closed

[2021-12-01 04:47] ultrasaurus opened #772 "colab error: FL_BUILD_CORE Required to build FL_BUILD_APP_ASR"
### Bug Description
New to flashlight, decided to try the asr colab

#### Reproduction Steps
1. Go to URL: : https://colab.research.google.com/github/flashlight/flashlight/blob/master/flashlight/app/asr/tutorial/notebooks/InferenceAndAlignmentCTC.ipynb
2. set backend: `CPU`
3. run step 1 (no errors)
4. run step 2

Results:
[code]

[2021-12-01 16:34] ultrasaurus commented on #772
poking around the repo, I noticed this PR https://github.com/flashlight/flashlight/pull/733/files

trying modified step 2:
[code]
seems to be getting farther... will post again if successful, just wanted to leave a note about progress (I think)

[2021-12-01 18:07] ultrasaurus commented on #772
that worked!

Step 2 completed...

[code]

[2021-12-01 18:08] ultrasaurus commented on #772
I commented in the PR, so this should auto-close when that gets merged.  I suggest leaving this open until then, so other newbies may have an easier time finding a solution.

[2021-12-04 09:51] avi-champ opened #773 "Segmentation fault while performing Convolution2D"
### Bug Description
Segmentation Fault running Test Code - Mnist while calling Convolution 2D.

#### Reproduction Steps
1. Downloaded the requisite file from http://yann.lecun.com/exdb/mnist/
2. Ran the Mnist.cpp - print is happening just before Convolution2D is called
3. Same issue with self written code

### Platform and Hardware
[Please list your operating system, [GPU] hardware, compiler, and

[2021-12-04 09:57] avi-champ commented on #773
The installed version of flashlight is flashlight-cpu[core,fl]:x64-linux -> 0.3#2
moreover I get error when i set seed using fl::setSeed(1);

error: ‘setSeed’ is not a member of ‘fl’

Please do help solve this issues

[2021-12-10 14:48] zzh-www opened #797 "can not install flashlight-cuda by vcpkg"
### Bug Description
can not install flashlight-cuda by vcpkg
i had reported it to vspkg in github.
but they tell me it's upstream bug
you can get more in [https://github.com/microsoft/vcpkg/issues/21757](url)
#### Reproduction Steps
./vcpkg install flashlight-cuda

### Platform and Hardware
[Please list your operating system, [GPU] hardware, compiler, and other details if relevant]
OS: Manjaro Lin

[2021-12-10 16:57] avi-champ opened #798 "VCPKG installation cmake fail"
I am getting the following error and i am not able to fix it

CMake Error at /home/cognitive_radar/Desktop/vcpkg/scripts/buildsystems/vcpkg.cmake:788 (_find_package):
  Could not find a package configuration file provided by "nccl" with any of
  the following names:

    ncclConfig.cmake
    nccl-config.cmake

  Add the installation prefix of "nccl" to CMAKE_PREFIX_PATH or set
  "nccl_DIR" to a di

[2021-12-10 16:58] avi-champ commented on #798
Please help. Struck for almost a week trying only to install flashlight

[2021-12-10 17:04] avi-champ commented on #798
When i build with source of flashlight, I am getting following error

sudo cmake .. -DCMAKE_BUILD_TYPE=Release -DFL_BACKEND=CUDA -DCMAKE_TOOLCHAIN_FILE=/home/cr/Desktop/vcpkg/scripts/buildsystems/vcpkg.cmake
-- -rdynamic supported.
-- CUDA found (library: /usr/local/cuda/lib64/libcudart_static.a;Threads::Threads;dl;/usr/lib64/librt.so include: /usr/local/cuda/include)
-- CUDA architecture flags: -

[2021-12-13 15:30] avi-champ opened #799 "FlashLight installation failed - lpthread"
### Bug Description
I have built flashlight from source

cmake .. -DCMAKE_BUILD_TYPE=Release -DFL_BACKEND=CUDA -DFL_BUILD_STANDALONE=ON -DFL_BUILD_ALL_LIBS=ON -DFL_BUILD_LIB_SET=ON -DFL_BUILD_LIB_SEQUENCE=ON -DFL_BUILD_LIB_AUDIO=ON -DFL_BUILD_LIB_COMMON=ON -DFL_BUILD_LIB_TEXT=ON -DFL_BUILD_ALL_PKGS=OFF -DFL_BUILD_ALL_APPS=OFF -DFL_BUILD_TESTS=OFF -DFLAC_LIBRARY=/usr/lib64 -DFLAC_INCLUDE_DIR=/usr/i

[2021-12-15 15:56] jksz1 opened #800 "How can I resolve this ArrayFire error with Flashlight ASR?"
### Question

I am trying to execute the following command to transcribe a .wav file using one of the pretrained models for Flashlight ASR:

`/home/jonah/vcpkg/installed/x64-linux/tools/flashlight-cuda/fl_asr_test --am="/media/jonah/Linux Data/Flashlight-speech-recognition/am.bin" --lexicon="/media/jonah/Linux Data/Flashlight-speech-recognition/train_lexicon.txt" –datadir="/media/jonah/Linux Data/

[2021-12-20 08:46] opentld opened #803 "support compiling under windows?"
As titled, is it supported under windows?

[2021-12-22 22:52] SleekEag opened #804 "How to us fl_asr_tutorial_inference"
### Question
[A clear, concise description of your setup and question]

#### Additional Context
I'm using Docker to install as seen [here](https://github.com/flashlight/flashlight/tree/main/.docker#running-flashlight-with-docker).

Inside `/root/flashlight/build`, I ran `make` (not sure if necessary)

Then I went into `./bin/asr` and am trying to use `fl_asr_tutorial_inference_ctc` to yield the tr

[2021-12-23 23:07] ultrasaurus commented on #772
oh, this didn't auto-close like I hoped.  I just confirmed that this is fixed in master

[2021-12-23 23:07] #772 closed

[2021-12-25 14:04] Lakshman511 opened #805 "The tutorial fine-tuning asr fails even with 16GB GPU memory ?"
### Question
I have been trying to fine-tune the acoustic model (i.e, am_transformer_ctc_stride3_letters_70Mparams.bin) for a while by following [this](https://colab.research.google.com/github/flashlight/flashlight/blob/master/flashlight/app/asr/tutorial/notebooks/FinetuneCTC.ipynb#scrollTo=T9078zTzcdS3) notebook provided in asr tutorials. Initially I used google colab, then it gave  **ArrayFire e

[2021-12-27 15:26] Sharad30 opened #807 "Flashlight installation build Error"
I am getting the below error while installing flashlight in google colab via command:

[code]

In addition to the above command, to fix intermediate errors, I also added the following in setup.py cmake_args:
[code]

**Error**:

[code]

[2021-12-29 02:05] tranmanhdat commented on #805
same problem when run [fl_asr_tutorial_finetune_ctc](https://github.com/flashlight/flashlight/blob/master/flashlight/app/asr/tutorial/README.md#finetuning-with-a-pretrained-ctc-model) with TPU colab

[2021-12-29 12:42] abhinavdayal commented on #510
I am also getting the error, while running using CPU backend.

### Error

fl_asr_tutorial_finetune_ctc model.bin --datadir ami_limited_supervision --train train_10min_0.lst,train_10min_1.lst,train_10min_2.lst,train_10min_3.lst,train_10min_4.lst,train_10min_5.lst,train_9hr.lst --valid dev:dev.lst --arch arch.txt --tokens tokens.txt --lexicon lexicon.txt --rundir checkpoint --lr 0.025 --netoptim sgd

[2021-12-31 04:37] Lakshman511 commented on #805
After working on it for some time, these are our findings

- Below are the stats when we fine-tuned 70M transformer model with batch size 4

- Memory manager stats just after model is loaded
[code]

[2022-01-11 12:46] Wuyazixu opened #813 "unknown export "flashlightTargets""
Describe the bug
when I cmake the flashlight,I got the error :unknown export "flashlightTargets".Can someone else handle this?

-- The CXX compiler identification is GNU 7.3.0
-- The C compiler identification is GNU 7.3.0
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Check for working CXX compiler: gcc/7.3.0/bin/c++ - skipped
-- Detecting CXX compile features
-- D

[2022-01-11 13:06] Wuyazixu opened #814 "unknown export "flashlightTargets""
Describe the bug
when I cmake the flashlight,I got the error :unknown export "flashlightTargets".Can someone else handle this?

-- The CXX compiler identification is GNU 7.3.0
-- The C compiler identification is GNU 7.3.0
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Check for working CXX compiler: gcc/7.3.0/bin/c++ - skipped
-- Detecting CXX compile features
-- D

[2022-01-11 13:07] #813 closed

[2022-01-11 14:31] jacobkahn commented on #814
@Wuyazixu Can you share the full cmake command you used to build Flashlight?

[2022-01-13 01:40] Wuyazixu commented on #814
I jusrt follow the guide of flashlight install

[code]

[2022-01-13 19:48] yelandgit commented on #814
I got same error after:

[code]

[2022-01-21 06:44] LilyWangLL commented on #797
Ping @jacobkahn, could you help take a look this issue?

[2022-01-22 07:57] jacobkahn commented on #814
@yelandgit @Wuyazixu I'll try to reproduce soon - thanks for reporting.

[2022-01-22 07:58] jacobkahn commented on #797
@LilyWangLL I'll be updating the vcpkg ports in the next week once some significant [breaking] changes to Flashlight are merged. Thanks for letting me know about this.

[2022-01-27 19:06] All-Ki opened #818 "Can't install flashlight-cuda with vcpkg"
### Bug Description
I have cuda and cudnn installed, though when i try to run vcpkg install flashlight-cuda it errors out

#### Reproduction Steps
./vcpkg install flashlight-cuda

### Platform and Hardware
Kali linux 2021.4

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2021 NVIDIA Corporation
Built on Mon_Oct_11_21:27:02_PDT_2021
Cuda compilation tools, release 11.4, V11.4.152
Build cu

[2022-01-29 08:33] dreamgonfly commented on #640
If anyone is still facing the same issue...

I solved this MKL library not found issue. For some reason Flashlight doesn't recognize MKL library installed via intel's official website (which installs one-api). I solved it by installing MKL library via a specific apt package. I'll share my solution below.

[code]

This installs MKL library under `/opt/intel/mkl`. (Note that if you install MKL libra

[2022-02-01 05:59] davidbelle commented on #510
Getting the same symptoms on CPU only. Any updates or ideas on this?

[2022-02-02 06:35] davidbelle opened #819 "Segmentation fault setup_gpu_metadata"
### Bug Description
I have installed flashlight asr and want to do some fine tuning on the RASR model. I have downloaded the Transformer 70M model and prepared my own dataset of an hour of audio. I am following the jupyter notebook "FinetuneCTC.ipynb".

I have built using vcpgk, then via docker, and now just finished building from source, but still having issues running fine tuning. I can run fl_a

[2022-02-02 07:30] davidbelle commented on #819
Here's the tail output from make test

[code]

[2022-02-02 07:58] davidbelle commented on #819
I've seen other issues raised similar to this where it was requested that the person who raised the issue run the failed tests individually and return the output, so here it is.

[code]

[2022-02-09 08:08] FabianRitter commented on #799
could you solve this?? I have the same error...

[2022-02-11 17:31] webbp commented on #799
same issue as https://github.com/FFTW/fftw3/issues/130

solution
1. [download fftw](https://www.fftw.org/download.html)
2. extract it
3. cd into it
4. make your own FFTW3LibraryDepends.cmake file and copy it to where flashlight expects it
[code]

[2022-02-14 07:13] mmbejani commented on #814
I have the same problem on CPU:

run command is:
`cmake .. -DCMAKE_BUILD_TYPE=Release -DFL_BACKEND=CPU -DFL_BUILD_TESTS=OFF`

and then I got the following:

[code]

[2022-02-14 11:44] jacobkahn commented on #814
@mmbejani @yelandgit @Wuyazixu can you all share your CMake versions? This seems to only reproduce with some versions of CMake.

[2022-02-14 12:42] mmbejani commented on #814
[code]

[2022-02-18 01:24] effendijohanes commented on #799
Thank you @webbp for your solution, it works!

Just want to add @backspacetg note, in the case you install `fftw3` by source, flashlight will look for `libfftw3.so.3` in the fftw build directory and cause an error, while actually the library is in the `/usr/lib` folder. So you can do this:

`sudo ln -s /usr/lib/x86_64-linux-gnu/libfftw3.so.3 /your/fftw-3.3.10/source/folder/build/`

and after that

[2022-02-19 17:57] kommander commented on #640
For anyone still running into this on Win10:
- If using PowerShell, ensure to set env variable with `$env:MKLROOT="path/to/mkl/latest"`
- Since some MKL version (at least 2022.0.2), the lib version folder is called `intel64` NOT `intel64_win`
	- Remove lines [~110-116 in `cmake/FindMKL.cmake`](https://github.com/flashlight/flashlight/blob/main/cmake/FindMKL.cmake#L110-L116), where it overrides wit

[2022-02-19 19:39] kommander opened #826 "vcpkg install - Error: openmpi[core] is only supported on '!(windows | uwp)'"
### Bug Description
Running `./vcpkg install flashlight-cuda`
Results in:
[code]
This is the only output, nothing else.

#### Reproduction Steps
Just running  `./vcpkg install flashlight-cuda` on Win10

### Platform and Hardware
Win10, Nvidia RTX 3080 mobile, CUDA 11.6

EDIT: There is nothing really special about my setup, relatively fresh install. Just got vcpkg and ran install.

[2022-02-19 21:26] kommander commented on #826
Saw vcpkg, assumed it would run on windows. I am not using windows voluntarily, believe you me. A note somewhere prominent on which platforms are supported would have saved me a day.

[2022-02-21 10:06] xzdong-2019 commented on #814
I have the same problem on Cudn:

-- The CXX compiler identification is GNU 5.4.0
-- The C compiler identification is GNU 5.4.0
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /usr/bin/c++ -- works
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Detecting CXX compile features
-- Detecting CXX compile features - done
-- Check for wo

[2022-02-22 10:59] NormanF2 commented on #814
Same problem here on two OS:
- OS: Ubuntu server 20.04.03 LTS
  - Version: cmake version 3.16.3
  - Command: cmake .. -DCMAKE_BUILD_TYPE=Release -DFL_BACKEND=CUDA
- OS: Fedora Workstation 35
  - Version: cmake version 3.22.2
  -  Command: cmake .. -DCMAKE_BUILD_TYPE=Release -DFL_BACKEND=CUDA

[2022-02-22 17:24] kommander commented on #803
It is not. Found out the hard way. Would love to see this compatible for some gaming integrations.

[2022-02-23 08:14] webbp commented on #430
Caused by https://github.com/FFTW/fftw3/issues/130

[2022-02-23 08:14] webbp commented on #535
Caused by https://github.com/FFTW/fftw3/issues/130

[2022-02-23 08:14] webbp commented on #619
Caused by https://github.com/FFTW/fftw3/issues/130

[2022-02-23 08:15] webbp commented on #617
Caused by https://github.com/FFTW/fftw3/issues/130

[2022-02-26 19:45] duskvirkus opened #827 "Broken Link in Docs"
### Bug Description
https://fl.readthedocs.io/en/latest/autograd.html has a broken link to arrayfire jit.

#### Reproduction Steps
Go to page click on link that at bottom of this section: https://fl.readthedocs.io/en/latest/autograd.html#jit-compiler

### Platform and Hardware
N/A

#### Additional Context
About to open a pr with the fix.

[2022-03-07 12:08] mrdvince commented on #48
@jacobkahn Any update on the OpenCL support? the fact that this could reduce dependence on nvidia specific cards would make this pretty awesome.
Stumbled across this while looking for something I could use to train on an AMD card.

[2022-03-08 16:10] Anyueanne commented on #452
I build googletest from source on CentOS and add bin/header into PATH. However, I also get `Could NOT find GMock (missing: Gmock_DIR)`, but it found gtest. WHY?
thanks a lot.

[2022-03-09 03:43] cnlinxi opened #830 "Error compiling Python Bindings Because of DIR not found"
### Question
I want to [Evaluating a CTC model in wav2vec 2.0](https://github.com/pytorch/fairseq/blob/main/examples/wav2vec/README.md#evaluating-a-ctc-model), so I need to install [flashlight python bindings](https://github.com/facebookresearch/flashlight/tree/master/bindings/python). I follow [this](https://github.com/flashlight/flashlight/tree/main/bindings/python) instruction, but get many err

[2022-03-09 19:28] jacobkahn commented on #830
@cnlinxi — can you make sure that you're building GMock in addition to GTest? How are you installed gtest?

You can also run the build with the CMake option `FL_BUILD_TESTS=OFF` which will remove that dependency requirement.

[2022-03-11 01:15] jacobkahn commented on #826
Sorry you had trouble. Our [docs list](https://github.com/flashlight/flashlight#building-and-installing):

[2022-03-11 01:15] #826 closed

[2022-03-11 01:16] jacobkahn commented on #818
This looks like a problem with the CUDA vcpkg port finding your CUDA installation. I'd recommend opening an issue in the vcpkg repo.

[2022-03-11 01:16] #818 closed

[2022-03-11 04:22] harivineesha opened #833 "[Question title here]can not install flashlight via command python3 setup.py install"
### Question
Cannot install flashlight bindings using command using python3 setup.py install

Installing log:
running install
/anaconda3/envs/Speech-Recognisition/lib/python3.8/site-packages/setuptools/command/install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
  warnings.warn(
/anaconda3/envs/Speech-Recognisition/lib/pyth

[2022-03-11 11:08] Dsantra92 opened #835 "Docker build for CPU has DNNL missing"
### Bug Description
Docker cpu image with tag  `cpu-9193b92` does not contain the DNNL file.

#### Reproduction Steps
Create a folder with a `Dockerfile`, `main.cpp` and `Cmakelists.txt`
The Dockerfile for the project:
[code]
The main.cpp is a simple flashlight program.
[code]
The CMakeLists.txt contains:
[code]
Run the command:
[code]
**Error:**
[code]

#### Additional Context
Runs smoothly with

[2022-03-11 19:23] jacobkahn commented on #807
This is a KenLM linking issue — paths to those libs need to be specified to the libs themselves, not just the directories that contain them. Using `KENLM_ROOT` will be better -- have that point to the directory in which you've installed KenLM.

[2022-03-11 19:23] #807 closed

[2022-03-11 19:24] jacobkahn commented on #803
@opentld @kommander — we don't have bandwidth to support Windows compilation at this point, but we'd welcome PRs. Most of the repo should compile with MSVC just fine.

[2022-03-12 14:20] Anyueanne opened #837 "Cannot install flashlight python bindings"
### Question
I follow [this instruction]() to install python-flashlight, but get some errors.

![image](https://user-images.githubusercontent.com/49814644/158021650-6b7f14ca-357a-46f3-8028-89c9e1272ab3.png)

#### Additional Context
![image](https://user-images.githubusercontent.com/49814644/158021610-3265b047-aeb4-4a83-9ffc-c03143fb861a.png)

[2022-03-12 15:22] cnlinxi commented on #830
Thanks a lot. I fix it.

[2022-03-12 15:22] #830 closed

[2022-03-14 00:47] Mddct opened #838 "where to find stc loss ？"
Great work stc loss： https://arxiv.org/pdf/2201.12208.pdf
where to find stc loss? thx

[2022-03-14 06:58] vineelpratap commented on #838
You can find the python implementation of STC loss here - https://github.com/facebookresearch/gtn_applications/blob/main/criterions/stc.py.

[2022-03-14 08:33] Mddct commented on #838
awesome,  thnks

[2022-03-14 08:33] #838 closed

[2022-03-15 09:31] harivineesha commented on #833
@tlikhomanenko can you please help with this?

[2022-03-17 21:03] #814 closed

[2022-03-20 06:41] harivineesha commented on #664
used this method and got an error please help me to resolve this error.

 warnings.warn(
/anaconda3/envs/Speech-Recognisition/lib/python3.8/site-packages/setuptools/command/easy_install.py:156: EasyInstallDeprecationWarning: easy_install command is deprecated. Use build and pip and other standards-based tools.
  warnings.warn(
running bdist_egg
running egg_info
writing flashlight.egg-info/PKG-INFO

[2022-03-21 02:35] #819 closed

[2022-03-21 04:06] harivineesha commented on #664
**After following steps and installing above libraries there is no luck**

installation log

running install
/anaconda3/envs/Speech-Recognisition/lib/python3.8/site-packages/setuptools/command/install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
  warnings.warn(
/anaconda3/envs/Speech-Recognisition/lib/python3.8/site-packag

[2022-03-25 15:28] #574 closed

[2022-03-28 01:06] andywangevertz commented on #645
same here on Ubuntu 20.04 and a workaround to create a 'fake' libcereal.a and copy it over to /usr/lib/x86_64-linux-gnu/

cereal.c
`void cereal(void) {}`
`gcc -c cereal.c`
`ar rcs libcereal.a cereal.o`
`sudo cp libcereal.a/usr/lib/x86_64-linux-gnu/ `

[2022-03-28 08:30] mengweijing commented on #557
Hi, I have the same problem as you,I successfully installed the flashlight according to your dialogue above.When I run the example script ,it shows that ModuleNotFoundError: [No module named 'flashlight.lib'],and when I run fairseq python,it shows that [NameError: name 'CriterionType' is not defined].Could you tell me how you solved the problem? Much appreciated.

[2022-03-30 17:10] TD5 opened #848 "README.md contains incorrect markdown"
### Bug Description
[code]

should be

[code]

(Notice how "flashlight/pkg" is missing closing code quote)

[2022-04-06 09:14] patrickvonplaten opened #851 "[Loading Flashlight models into PyTorch model] How can I load a flashlight model into a PyTorch format?"
### Question

Thanks a lot for the great library! With @cwkeam we are working on porting the multi-lang-CTC model: https://github.com/flashlight/wav2letter/tree/main/recipes/mling_pl into PyTorch to make it more accessible for the speech community.

The model is stored in the `cereal` format here: https://dl.fbaipublicfiles.com/wav2letter/mling_pl/checkpoint_cv_finetune.bin and we were wondering h

[2022-04-06 18:01] lorenlugosch commented on #851
Thanks @patrickvonplaten and @cwkeam for working on porting M-CTC-T!

This script by @tlikhomanenko for loading Flashlight tensors into PyTorch might help: https://github.com/flashlight/wav2letter/blob/main/recipes/utilities/convlm_serializer/save_pytorch_model.py

I'll look into this as well when I have more time.

[2022-04-06 18:04] lorenlugosch commented on #851
Oh, actually that might be specifically for a convolutional model

[2022-04-13 03:10] Dawn-970 opened #852 "[arrayfile] CMake Error: The following variables are used in this project, but they are set to NOTFOUND"
**Describe the bug**
[code]
**Environment**
- OS: linux

**To Reproduce**
Steps to reproduce the behavior:
1. ./vcpkg/vcpkg install flashlight-cuda
2. or ./vcpkg/vcpkg install arrayfire[core,cpu,cuda,unified]
3. See error

**Failure logs**
[code]
___________________config-x64-linux-dbg-err.log_______________
[code]

[2022-04-14 02:53] lizezheng commented on #347
I`ve installed mkl via yum
and  "ll /opt/intel/mkl" shows

[2022-04-14 03:18] Tom-Mirowski opened #853 "Cmake Issue Array Fire"
Ubuntu 20.04
Cmake 3.16.3
GCC 9.4.0

Fresh system install, only trying to build Flashlight on it currently.

KENLM and MKL paths set.

Python binding install went well.

Using command

`cmake .. -DFL_BACKEND=CPU -DCMAKE_BUILD_TYPE=Release -DFL_BUILD_TESTS=OFF -DFL_BUILD_EXAMPLES=OFF -DFL_BUILD_APP_ASR=ON`

Gets me to

-- ArrayFire found (include: /usr/include, library: )
CMake Error at flashlight/

[2022-04-14 04:57] Tom-Mirowski opened #854 "FL_BUILD_PKG_SPEECH Required to build FL_BUILD_APP_ASR"
During setup of Flashlight, after installing prereqs (Arrayfire, Oneapi, Kenlm) and the Python Bindings, I try to make Flashligh.

In doing so I use this command :

~/Flashlight/flashlight/build$               cmake .. -DFL_BACKEND=CPU -DCMAKE_BUILD_TYPE=Release -DFL_BUILD_TESTS=OFF -DFL_BUILD_EXAMPLES=OFF -DFL_BUILD_APP_ASR=ON

I do this since I only really care about using the ASR package for no

[2022-04-14 05:20] Tom-Mirowski commented on #854
After doing

cmake .. -DFL_BACKEND=CPU -DCMAKE_BUILD_TYPE=Release -DFL_BUILD_TESTS=OFF -DFL_BUILD_EXAMPLES=OFF -DFL_BUILD_LIB_AUDIO=ON -DFL_BUILD_LIB_COMMON=ON -DFL_BUILD_PKG_SPEECH=ON -DFL_BUILD_APP_ASR=ON -DFL_BUILD_LIB_TEXT=ON -DFL_BUILD_PKG_RUNTIME=ON

And installing all the apt-get requirements along the way, it finally completed withj "Build files have been written to : /path/to/flashlight/b

[2022-04-14 05:55] Tom-Mirowski commented on #854
context.cc:(.text+0xe91): undefined reference to `MPI_Allreduce'
/usr/bin/ld: context.cc:(.text+0xfcb): undefined reference to `MPI_Allgather'
/usr/bin/ld: extern/gloo/lib/libgloo.a(context.cc.o): in function `std::_Sp_counted_ptr_inplace<gloo::mpi::Context, std::allocator<gloo::mpi::Context>, (__gnu_cxx::_Lock_policy)2>::_M_dispose()':
context.cc:(.text._ZNSt23_Sp_counted_ptr_inplaceIN4gloo3mpi7C

[2022-04-17 02:13] Manni-Arora opened #855 "Repetitive output in ASR Inference Tutorial"
### Question
I get repetitive outputs in ASR Inference tutorial.
<img width="524" alt="image" src="https://user-images.githubusercontent.com/77749848/163697343-721610c4-5da3-42f3-8c26-cdab592c2ee9.png">

#### Additional Context
I am using the following model:

inference_cmd = """./flashlight/build/bin/asr/fl_asr_tutorial_inference_ctc \
  --am_path=am_transformer_ctc_stride3_letters_300Mparams.bin

[2022-04-17 02:25] Manni-Arora commented on #855
I assume these are the n best hypothesis. Is there a way to change this?

[2022-04-19 15:45] Tom-Mirowski opened #856 "No Build Folder after VCPKG?"
I installed via vcpkg after installing MKL separately.

This created a directory :

/home/username/vcpkg/buildtrees/flashlight-cpu/src/f7e2b796ad-7f3c690730.clean/

Inside here is a bindings, cmake, docs, flashlight and scripts folder.

However, I am looking for the *_ctc files that are usually in flashlight/build/bin/asr/*_ctc

Is there a reason these aren't built when doing ./vcpkg flashlight-cp

[2022-04-19 19:53] Tom-Mirowski opened #857 "Install - Undefined Reference"
Here are all steps taken to install.

# Setup Environment
sudo apt update
sudo apt-get -y install terminator git curl

# Setup MKL
cd /tmp
wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
sudo apt-key add GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
rm GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
sudo echo "deb https://apt.repos.intel.com/oneapi all main" | sudo tee /etc/apt/sources.lis

[2022-04-26 21:35] vtsykun commented on #800
Hi, the same error

[code]

**STR**
1) install the last version using vcpkg
2) Run the command above

[2022-04-27 04:43] umar456 commented on #800
Can you run your program with the environment variable AF_JIT_KERNEL_TRACE set to all:

example:
[code]

and post the output

[2022-04-27 04:56] jksz1 commented on #800
Hi, it has been a long time since I looked at this project. I could try
this and get back to you.

El mar, 26 de abr. de 2022 10:43 p. m., Umar Arshad <
***@***.***> escribió:

[2022-04-28 19:54] umar456 commented on #800
This is a problem with the locale on the system. I believe this was an issue with one of the cuSparse static libraries. Try setting the locale on your system to "C" like this:

[code]
Before any ArrayFire functions are called.

[2022-04-28 23:19] vtsykun commented on #800
Thanks it worked!

[2022-05-08 20:22] fangzhou-xie opened #866 "export model in json (like frugally-deep)?"
### Question
Hi, thanks a lot for this library! I remember I first encountered it in 2019 when it was still in early stages, and now I found that it has become awesome now!

I just wanted to ask: is it possible to train a model and export it in json (or any format) for inference so that it is no longer depending on the library?

#### Additional Context
I was thinking something like [frugally-deep]

[2022-05-13 22:18] steve-criticalmention commented on #618
@tlikhomanenko do you have any additional information on how to recompute the timestamp depends on your model stride and fft options, to get that into seconds?

[2022-05-26 14:19] felixt56 opened #880 "OpenClUtils.h not found"
### Bug Description
cmake .. -DFL_ARRAYFIRE_USE_OPENCL=ON -DFL_USE_OPENCL=ON
make
flashlight/fl/autograd/tensor/backend/onednn/DnnlUtils.cpp:22:12: fatal error: flashlight/fl/common/OpenClUtils.h: No such file or directory

#### Reproduction Steps
cmake .. -DFL_ARRAYFIRE_USE_OPENCL=ON -DFL_USE_OPENCL=ON
make
flashlight/fl/autograd/tensor/backend/onednn/DnnlUtils.cpp:22:12: fatal error: flashlight/

[2022-05-27 08:02] knightrogen opened #882 "Input values to Lexicon decoder.decode. Decoding causes segmentation fault (core dumped)"
I have setuped flashlight and kenlm , also have exported the kenlm_root path before building the flashlight.

I am able to create lexicondecoder option object, kenlm object, lexicondecoder object. But as the values are passed to lexicondecoder.decode it shows segmentation fault core dumped. The error is showed after reading lm.arpa .

Is this error coming from the type of input I am giving to deco

[2022-06-06 21:43] jacobkahn commented on #882
@knightrogen are you using the Python bindings or the C++ API?

Also, Flashlight Text has moved to https://github.com/flashlight/text — you might consider rebuilding using that codebase as well if you aren't dependent on Flashlight.

[2022-06-06 21:44] jacobkahn commented on #880
@felixt56 — the OpenCL backend isn't supported at the moment. We're working on adding it back in the next several weeks. It should build in theory in v0.3.2 — can you try checking that version out and building?

[2022-06-06 21:50] jacobkahn commented on #866
@fangzhou-xie — great question, and sorry for the delay — we're still in the early stages of making Flashlight even more portable. R bindings aren't on the radar right now, but we have some exciting things in the pipeline with respect to making things more modular and compatible with other frameworks. Our goal is absolutely to be able to use one framework to do inference in settings with very smal

[2022-06-06 21:51] jacobkahn commented on #857
Yeah, this is a known issue with DNNL and vcpkg it looks like.

Can you try building DNNL from source instead of using vcpkg? I hope to update these package ports soon.

[2022-06-06 21:51] jacobkahn commented on #856
These will be found in the `[vcpkg install dir]/bin` rather than in a `build` directory.

[2022-06-06 21:51] #856 closed

[2022-06-06 21:52] jacobkahn commented on #854
Gloo needs to be built with the `USE_MPI=ON` option — see https://github.com/flashlight/flashlight/issues/202, else linking will fail.

[2022-06-06 21:56] jacobkahn commented on #853
If you can confirm that `libafcpu` is present on your system post-install? If it is, passing the `ArrayFire_DIR` option to CMake is required. I assume you've solved this based on your follow-up issues, but feel free to re-open if not.

[2022-06-06 21:56] #853 closed

[2022-06-07 10:18] kamirdin commented on #882
@jacobkahn  Hi, I encounter the same issue, I'm willing to try the new codebase, but a lot of code here do dependent on Flashlight:
https://github.com/facebookresearch/fairseq/blob/main/examples/speech_recognition/w2l_decoder.py
at line 136:
     self.lm = KenLM(args.kenlm_model, self.word_dict)
got a (core dumped) error, any  thought about it ？thank you

[2022-06-07 15:43] georgekald79 opened #887 "Closing as noo any bug description is given @georgekald79 please create the issue with necessary information."
Closing as noo any bug description is given @georgekald79  please create the issue with necessary information.

_Originally posted by @tlikhomanenko in https://github.com/flashlight/flashlight/issues/616#issuecomment-849841699_

[2022-06-07 15:44] georgekald79 commented on #887
Hello

[2022-06-07 16:32] jacobkahn commented on #882
Hi @kamirdin — do you have KenLM installed on your system? It's possible it's not found at runtime.

[2022-06-07 17:20] kamirdin commented on #882
@jacobkahn thanks for your response! I do have installed KenLM and set  ‘export KENLM_ROOT=$mypath’ during python setup.py install .
Do I need to set something intentionally at runtime?

[2022-06-07 21:04] georgekald79 opened #888 "> [revolut-ipid-PurRetTic_CYP-gre.pdf.pdf](https://github.com/flashlight/flashlight/files/8854645/revolut-ipid-PurRetTic_CYP-gre.pdf.pdf)"
_Originally posted by @georgekald79 in https://github.com/flashlight/flashlight/issues/887#issuecomment-1149164844_

[2022-06-07 21:31] #887 closed

[2022-06-10 06:03] felixt56 commented on #880
Thanks
Maybe I'll try it next month.

[2022-06-15 17:59] felixt56 opened #894 "compilation error in RNN.cpp"
### Bug Description
RNN.cpp:87, 89, 126, ...
... error: no matching function for call to ‘fl::range::range(size_t)’ , or ‘fl::range::range(size_t&, size_t)’

#### Reproduction Steps
cmake . -B ./build -DFL_ARRAYFIRE_USE_CUDA=ON \  # or -DFL_ARRAYFIRE_USE_CPU
		   -DFL_BUILD_LIB_SEQUENCE=ON -DFL_BUILD_PKG_RUNTIME=ON \
		   -DFL_BUILD_LIB_AUDIO=ON -DFL_BUILD_PKG_SPEECH=ON -DFL_BUILD_APP_ASR=ON  #>>

[2022-06-19 09:29] xueeinstein opened #898 "Flashlight MLP is much slower than Jax+Jit python implementation"
### Question

Since both flashlight and jax are proposed for high performance and easy low-level ops implementation, it is desired to compare them. I simply tried a compiled MLP model (`flashlight/fl/examples/Perceptron.cpp`) and reproduced Jax+Flax+Jit python MLP. The results show that Flashlight is much slower than Jax.

#### Additional Context
All tests are conducted on a CPU-only machine.

Fla

[2022-06-20 23:51] jacobkahn commented on #898
This isn't surprising. The ArrayFire CPU backend is single-threaded and not optimized for performance -- it hardly JITs computations and primarily exists as a debugging tool. While the ArrayFire OpenCL backend is better (uses a JIT and some async/parallel computation), CPU performance may still be underwhelming, and it isn't properly supported at the moment in Flashlight.

We're currently developi

[2022-06-20 23:52] #898 closed

[2022-06-20 23:53] jacobkahn commented on #894
@felixt56 -- what's your version of gcc/clang? This sounds like a missing implicit include.

[2022-06-20 23:55] jacobkahn commented on #882
@kamirdin If this is happening with the fairseq KeNLM abstraction, I'd suggest opening an issue there. If you've installed KenLM and the bindings build has properly found them, you're doing everything right on the Flashlight side.

[2022-06-28 08:14] kavnish opened #911 "flashlight.lib.text module is missing"
Sorry, I wasn't following the project in much detail. But one of my previous projects has a dependency on the beam-search decoder from the "flashlight.lib.text" module.

I was trying to build that project today and somehow the whole "flashlight.lib.text" module is missing.

Has there been any restructuring in the project wherein this module was moved somewhere else? if yes, where can I follow all

[2022-06-28 18:52] zxpan opened #912 "ASR application build failed on undefined lm::ngram::LoadVirtual"
Someone might post the similar issue, but I did not find the solution or fix for that. Here is the issue

[100%] Built target fl_asr_test
/usr/bin/ld: ../../../../third-party/flashlight-text/src/flashlight-text-build/libflashlight-text.a(KenLM.cpp.o): in function `fl::lib::text::KenLM::KenLM(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, fl::lib::text::Dict

[2022-06-28 19:06] zxpan commented on #912
it works only if building flashlight-text before building asr application
1) git clone https://github.com/flashlight/text;
cd text && mkdir build && cd build && cmake -DFL_TEXT_USE_KENLM=ON ..
2) then build asr application

[2022-06-28 19:23] jacobkahn commented on #912
@zxpan can you post your original build command? We're still resolving some potential issues with KenLM symbols.

[2022-06-28 19:24] jacobkahn commented on #911
@kavnish — the flashlight text bindings were moved to Flashlight Text — https://github.com/flashlight/text. You can build those independently.

I'd freeze using Flashlight at v0.3.2 if you still want the bindings in their previous form. The `main` branch will move things around.

[2022-06-28 19:43] zxpan commented on #912
my original build command is (after clone and mkdir build directory), based on latest code repo
`cmake .. -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=/opt/flashlight -DFL_BACKEND=CUDA -DFL_BUILD_LIB_AUDIO=ON -DFL_BUILD_LIB_SEQUENCE=ON -DFL_BUILD_PKG_RUNTIME=ON -DFL_BUILD_PKG_SPEECH=ON -DFL_BUILD_APP_ASR=ON -DFL_BUILD_APP_IMGCLASS=OFF -DFL_BUILD_APP_LM=OFF -DFL_BUILD_TESTS=OFF -DFL_BUILD_EXAMPL

[2022-06-28 23:34] jacobkahn commented on #912
@zxpan — reproduced the issue. Working on a fix.

[2022-06-29 01:23] #912 closed

[2022-06-29 03:27] kavnish commented on #911
thanks, @jacobkahn! where can I follow the development of this project? is there any such discord server/mail list?

[2022-06-29 18:19] jacobkahn commented on #911
@kavnish Gitter chat's [here](https://gitter.im/flashlight-ml/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) which is best for support/questions.

[2022-06-29 18:19] #911 closed

[2022-06-29 21:16] zxpan opened #916 "Load pre-trained rasr model failed"
### Bug Description
I built the latest flashlight asr application with CUDA GeForce RTX 3090, I got the following error when I run fl_asr_decode  with loading rasr pretrained model `am_transformer_ctc_stride3_letters_300Mparams.bin`

[code]

any idea what's wrong with that?   The error more or less related to serialize the network as <fl::Module>

[2022-06-30 15:42] zxpan commented on #916
Are there any code changes for fl::Module which cause incompatible issues for loading the model which are saved in old code?

[2022-07-01 00:51] jacobkahn commented on #916
@zxpan — unfortunately, there are significant breaking changes currently on master which may cause those models not to load. If you can check out `v0.3.2`, things should hopefully work.

We hope to add serialization support for old models in the next minor release, but for now, using the [0.3 branch](https://github.com/flashlight/flashlight/tree/0.3) is best.

[2022-07-01 00:53] jacobkahn commented on #837
@Anyueanne can you please paste the full trace if you're still at it?

Also, if you're using the beam search decoder, that has been moved to [Flashlight Text](https://github.com/flashlight/text) — bindings can be built from there.

[2022-07-01 00:54] zxpan commented on #916
Thanks for confirming this.

[2022-07-04 10:48] yangjiabupt opened #921 "[pthread_create filesystem bug]"
I followed the instruction building the flashlight.

Then , bugs occur
"CMakeFiles/cmTC_65fb7.dir/CheckSymbolExists.c.o: In function `main':
CheckSymbolExists.c:(.text+0x1b): undefined reference to `pthread_create'"

"/home/research/jiayang/data2vector/flashlight/bindings/python/build/temp.linux-x86_64-3.6/CMakeFiles/CMakeTmp/CheckIncludeFile.cxx:1:10: fatal error: filesystem: No such file or dire

[2022-07-19 14:17] light42 opened #932 "ArrayFire include file not found when installing flashlight-text"
### Bug Description
Docker installation failed because cmake can't detect af/*.h files eventhough ArrayFire_DIR variable already included, and ArrayFire installed succesfully.

#### Reproduction Steps
- Any configurations or custom setup
1. Dockerfile.base: completely identical with https://github.com/flashlight/flashlight/blob/main/.docker/Dockerfile-CUDA-Base
2. Dockerfile:
[code]
- Commands to

[2022-07-20 04:10] light42 commented on #932
Solved, problem disappears when FL_ARRAYFIRE_USE_CUDA=ON flag added. Should've been mentioned in documentation.

[2022-07-20 04:10] #932 closed

[2022-07-24 19:06] #916 closed

[2022-07-27 09:21] SidM1811 opened #946 "ModuleNotFoundError: No module named 'flashlight.lib.text'"
I'm trying to run single file inference from [https://github.com/Open-Speech-EkStep/vakyansh-wav2vec2-experimentation](https://github.com/Open-Speech-EkStep/vakyansh-wav2vec2-experimentation)  I'm getting issues with an import statement that reads 'import flashlight.lib.text'. I have followed the instructions on the link and have also tried the same with python 3.8. There seems to be an issue with

[2022-07-28 05:06] jacobkahn commented on #946
@SidM1811 — you have two options:
1. Check out Flashlight [`v0.3.2`](https://github.com/flashlight/flashlight/tree/v0.3.2) (`git checkout v0.3.2`) and install the bindings
2. Install the bindings from [Flashlight Text](https://github.com/flashlight/text).

I've created a PR to update that repo's readme as well — https://github.com/Open-Speech-EkStep/vakyansh-wav2vec2-experimentation/pull/31; you c

[2022-07-28 05:06] #946 closed

[2022-07-28 05:07] jacobkahn commented on #921
@yangjiabupt — what's your compiler and CMake version?

[2022-07-28 05:08] #882 closed

[2022-08-04 07:08] mujhenahiata opened #964 "unable to install flashlight"
[CMakeOutput.log](https://github.com/flashlight/flashlight/files/9257431/CMakeOutput.log)
[CMakeError.log](https://github.com/flashlight/flashlight/files/9257432/CMakeError.log)

[2022-08-05 06:59] mmbejani opened #967 "Sycl library could not found"
### Question
I install from source and before it, I install all of dependencies. However, in the examples and tests an error has been occurred as following:
[code]

I search about `SYCL` library, and install DPC++, hipSYCL, but non of them resolve the problem. I share the `CMakeLists.txt` for the project. I'm so glad if you help me.

#### Additional Context
# `CMakeLists.txt`
[code]

[2022-08-05 06:59] mmbejani opened #968 "Sycl installation"
### Question
I install from source and before it, I install all of dependencies. However, in the examples and tests an error has been occurred as following:
[code]

I search about `SYCL` library, and install DPC++, hipSYCL, but non of them resolve the problem. I share the `CMakeLists.txt` for the project. I'm so glad if you help me.

#### Additional Context
##### `CMakeLists.txt`
[code]

[2022-08-06 21:20] mmbejani commented on #968
The problem has been solve by compiling from source and branch 0.3

[2022-08-06 21:20] #968 closed

[2022-08-09 15:52] bwasti opened #976 "SpanDataset would simplify splitting up pre-merged datasets"
### Feature Description
Not all datasets can be easily split ahead of time, a SpanDataset would allow splitting up
datasets after the fact by specifying an offset and bound for the span.

#### Use Case
Splitting out train, test and validation sets is quite common but not all initial
datasets have such splits baked in.

#### Additional Context
Example API:

[code]

[2022-08-11 14:03] mmbejani commented on #967
just change branch to 0.3!

[2022-08-11 14:03] #967 closed

[2022-08-13 17:32] mmaras1999 opened #981 "Array include missing in Logging"
### Bug Description
fl/common/Logging.h/.cpp is missing `#include <array>`, which may cause build errors with some compilers. (Using gcc (GCC) 12.1.1)

[2022-08-15 07:44] felixt56 opened #983 "error while loading Audio Model"
### Bug Description
[A clear, concise description of the bug]
error while loading  Audio Model

#### Reproduction Steps
[Steps to reproduce. Please include, if needed for your issue:
./build/bin/asr/fl_asr_tutorial_inference_ctc \

E0815 10:24:01.434564 88480 Serializer.h:83 Error while loading ""./models/am_conformer_ctc_stride3_letters_25Mparams.bin"": std::bad_alloc

E0815 10:24:02.439431 88480

[2022-08-18 06:44] #894 closed

[2022-08-18 06:49] felixt56 commented on #894
I've cloned git once more on two machines and have built it with no errors.

[2022-08-18 06:51] #880 closed

[2022-08-18 06:52] felixt56 commented on #880
Sorry, I hadn't time to check for now

[2022-08-18 10:49] mmbejani opened #986 "Computing InputLen and `forwardSequentialModuleWithPadMask`"
### Bug Description
Do you want to train a network which contains `Transformer` or `Conformer`? If you put all thing correct, and build your model with `buildSequentialModule`, you may face with the following runtime error when call `forwardSequentialModuleWithPadMask`:
[code]
This error raise because you change, `T`, (most of the times reducing) the length of input before feed it into `Transforme

[2022-08-18 23:03] benam2 commented on #431
@tlikhomanenko I have faced with the same error. I followed your suggestion and checked my script however it is exactly like yours already. do you have any idea what else could be the reason?
Appreciate your help and time.

[2022-08-21 08:31] mmbejani commented on #986
[https://github.com/flashlight/flashlight/pull/989](url)

[2022-08-22 17:40] #986 closed

[2022-08-23 06:29] Macsim2 commented on #347
Hi I'm facing to same problem..
did you reslove this error?

[2022-08-23 06:59] mmbejani commented on #964
checkout on branch `0.3`

[2022-08-23 13:33] mujhenahiata commented on #964
root@75df8e56824e:/home/flashlight/bindings/python# python3 setup.py install
running install
/usr/lib/python3/dist-packages/setuptools/command/install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
  warnings.warn(
/usr/lib/python3/dist-packages/setuptools/command/easy_install.py:158: EasyInstallDeprecationWarning: easy_insta

[2022-08-23 13:59] mmbejani commented on #964
It cannot find your `nvcc` compiler. If you going to compile it based on GPU then you have to install appropriate Nvidia driver. After installing the driver, the `nvcc` could be access from `/usr/local/cuda/bin` by default. You have to export `/usr/local/cuda` as `CUDA_HOME`. Also, before you get into a new error, you have to install `cuDNN`.

[2022-08-27 01:16] cryptodeal opened #997 "Build Fails on M1 MacBook Pro"
### Bug Description
When installing/building using homebrew on an M1 MacBook Pro (16GB RAM), the build fails when running:
[code]

#### Reproduction Steps
[code]

02.make logs:

[code]

Error log file:
[MakeError.log](https://github.com/flashlight/flashlight/files/9437062/MakeError.log)

### Platform and Hardware
M1 MacBook Pro, 16GB Ram

#### Additional Context
N/A

[2022-08-30 05:58] risingsunomi commented on #347
Here is what I did to resolve on my system

OS: Windows 11 [Windows Feature Experience Pack 1000.22000.856.0]
WSL: Ubuntu 20.04.5 LTS
CUDA focused with GCC-10, using vcpkg

- Download the Intel oneAPI Base Tool
https://www.intel.com/content/www/us/en/develop/documentation/installation-guide-for-intel-oneapi-toolkits-linux/top/installation/install-using-package-managers/apt.html

- set the MKLROOT

[2022-08-30 06:41] risingsunomi opened #999 "NVIDIA nvToolsExt (NVTX) lib not found ERROR"
### Bug Description
Error when installing flashlight-cuda[asr] on WSL2. NVTX can't be found even though installed.

#### Reproduction Steps
`$ vcpkg install flashlight-cuda[asr]`

[code]
Error in file /opt/vcpkg/buildtrees/flashlight-cuda/config-x64-linux-dbg-err.log

[code]

### Platform and Hardware
OS: Windows 11 [Windows Feature Experience Pack 1000.22000.856.0]
WSL: Ubuntu 22.04.1 LTS
CUDA 11

[2022-08-31 12:05] mmbejani opened #1001 "How to convert `fl::Variable` to `fl::Tensor`"
### Question
Assume we have a variable `fl::Variable` and a variable `fl::Tensor`. How can I covert one to another?

[2022-08-31 15:57] jacobkahn commented on #1001
`fl::Variable::tensor()` (the `.tensor()` method on Variable) and `Variable(Tensor tensor)` (the Variable constructor).

[Docs](https://fl.readthedocs.io/en/latest/variable.html).

[2022-08-31 15:57] #1001 closed

[2022-08-31 15:59] jacobkahn commented on #997
cc @bwasti have you seen this — I guess this is from the Homebrew port although Homebrew's giving useless logs.

[2022-08-31 15:59] jacobkahn commented on #983
We don't have yet compatibility with old models in master -- checkout `v0.3.2` and build there to load this model.

[2022-08-31 15:59] #983 closed

[2022-08-31 16:00] #964 closed

[2022-08-31 16:00] jacobkahn commented on #981
FIxed in `main`

[2022-08-31 16:00] #981 closed

[2022-09-01 03:18] cryptodeal commented on #997
Correct, it's the Homebrew port used in shumai that was giving me the error when trying to build. (My bad, had mistakenly copied the wrong `brew tap flashlight/flashlight` when opening the issue; fixed in an edit a second ago).

[2022-09-01 16:21] jacobkahn commented on #999
@risingsunomi — if you have deps installed, can you try building from source with `FL_BUILD_PROFILING=OFF`? You can also add this flag [in the port](https://github.com/microsoft/vcpkg/blob/master/ports/flashlight-cuda/portfile.cmake#L19). My guess is that new CUDA versions have changed where NVTX is located.

I'm going to update and restructure the vcpkg ports soon.

[2022-09-01 16:23] jacobkahn commented on #976
Deferring to PR.

[2022-09-01 16:23] #976 closed

[2022-09-02 00:49] StrongerXi commented on #997
I encountered a very similar issue on my old x86 Mac when using `make -jn` with `n > 1`, i.e., I got the following error in VERBOSE mode

[code]

I resolved it by updating my `make` from `GNU Make 3.81` to `GNU Make 4.3`.

Also interestingly, I have `GNU Make 3.81` on my M1 Mac and it works...

[2022-09-06 20:43] benam2 opened #1002 "Failed installing python bindings"
I have installed all the dependencies mentioned here [https://github.com/flashlight/flashlight/tree/main/bindings/python](url)  however is still raises this error while running ```cd bindings/python
python3 setup.py install```

`OS: Lnux 18.04`
I have multiple coda on my system including
`Cuda 10.0, 10.1, 10.2 and 11.0`

And this is the error raises:

[code]

[2022-09-07 05:41] benam2 commented on #416
I am experiencing the same error even though I recently cloned the repository. Any idea what else could be wrong? Thanks~

[2022-09-07 17:44] benam2 commented on #416
I have installed the flashlight ssucessfully but I get error while running ASR projects

[code]
Any idea how I can fix this @tlikhomanenko . I appreciate if you can comment on this.

[2022-09-08 22:21] jacobkahn commented on #1002
The compiler output says it can't find `cuda_runtime.h`. Do you have that header/the CUDA runtime installed on your system?

[2022-09-08 22:23] jacobkahn commented on #997
Issues with `make -j[k]` like this are typically due to compiler OOMs. It's possible newer versions of GNU Make might manage memory a bit better.

The solution's probably to swap our Homebrew formula to use `cmake --build --parallel` which should portably and safely parallelize the build; either that or add `ninja` as a build dependency for the formula.

[2022-09-12 15:42] benam2 opened #1003 "NameError: name 'CriterionType' is not defined"
### Bug Description
I receive this error while trying to get speech recognition project run.. Before raising this error, there is a warning
`UserWarning: wav2letter python bindings are required to use this functionality. Please install from https://github.com/facebookresearch/wav2letter/wiki/Python-bindings` but as far as I know the `wav2letter` is beeb incorporated into the `flashlight`. And sinc

[2022-09-12 15:43] benam2 commented on #1002
Hi @jacobkahn, Sorry I did miss your reply. I fixed this but its been 5 days dealing with an error. I really appreciate it if you can have a look at this https://github.com/flashlight/flashlight/issues/1003

[2022-09-13 01:46] benam2 commented on #89
Hi, I faced with the same error during installation (python bindings). has it already been solved? @jacobkahn

[2022-09-13 03:32] #1003 closed

[2022-09-13 03:44] benam2 opened #1004 "CMakeFiles/Makefile2:948: recipe for target 'CMakeFiles/fl_lib_audio.dir/all' failed"
Im trying to install Flashlight to get a speech recognition project run. Its been really 2 weeks now!!!
I have made mistake before and cleaned up everything and started from scratch.
Now I have installed the flashlight and then when I want to install the python bindings after nearly 60 percent of the building going it raises a VERY WEIRD ERROR that I really don't know how to search the error since

[2022-09-13 17:30] benam2 commented on #1004
Any help here please @jacobkahn

[2022-09-15 22:40] cryptodeal commented on #997
My apologies for the delayed response (thought I'd responded already; oops), but `make --version` logs `GNU Make 4.3`, so that doesn't appear to have been the issue I hit.

[2022-09-18 05:17] Shahilcoder opened #1005 "‘numeric_limits’ is not a member of ‘std’"
### Bug Description
I tried installing ```flashlight-cpu``` using ```vcpkg```, by using the command ```./vcpkg/vcpkg install flashligh-cpu```

The build fails.

[code]
*(Other packages were already install by earlier attempts, so flashlight-cpu was only package left to install)*

upon checking the ```install-x64-linux-dbg-out.log```.

[code]

### Platform and Hardware
[code]

[2022-09-19 00:49] bwasti opened #1006 "keep_dims not respected when a reduction is over the entire input shape"
### Bug Description
As in title

https://github.com/flashlight/flashlight/blob/5b4441994e7742ac08793204cccd74a73e9079c3/flashlight/fl/tensor/backend/af/ArrayFireReductions.cpp#L184-L192

(current workaround in shumai: https://github.com/facebookresearch/shumai/blob/main/shumai/cpp/binding_gen.inl#L454-L458)

[2022-09-23 19:01] vchagari opened #1008 "[Streaming Convnets Online Inference is taking initially around 2 seconds to get the hypothesis text]"
### Question
I am using streaming convnets models for Online Speech Recognition. I see that the first response from the ASR is taking around 1.5-2.5 Seconds after the client has started streaming the audio data, but the next consecutive responses are faster though. Could you please help by sharing your thoughts/suggestions on how to reduce the initial response time.

I am using the models which ar

[2022-09-26 11:53] mln-wave commented on #557
Hi @mengweijing
I too am facing the same issue, did u resolve it?

[2022-09-26 12:05] mln-wave commented on #557
Hi @tlikhomanenko ,
I have tried the different ways you mentioned, to install flashlight in colab, as shown in below pic. But I am getting flashlight.lib ModuleNotFound error still. How to solve it?

![image](https://user-images.githubusercontent.com/110157037/192271613-7bea5408-dbc3-4768-a342-76abc47c26fc.png)
![image](https://user-images.githubusercontent.com/110157037/192271799-1b9a57d4-4134-47

[2022-09-28 06:44] mln-wave opened #1011 "Flashlight import issue"
### Question
Though flashlight was successfully installed, it is giving import error, when trying to import as `from flashlight.lib.text ...`, but it's working fine when I just use `import flashlight`. Not able to find the reason !!
Do you know what can be done to overcome it? Im using colab notebook.

#### Additional Context
![image](https://user-images.githubusercontent.com/110157037/192706806-1

[2022-09-30 11:00] Freewavs commented on #636
@tlikhomanenko https://github.com/flashlight/flashlight/pull/524 can't build;
there is a w2l 0.2 ==> 0.3x solution now?

[2022-09-30 17:17] jacobkahn commented on #1011
@mln-wave — text utilities have been moved to https://github.com/flashlight/text -- can you build/install there if you only need those?

[2022-09-30 17:32] jacobkahn commented on #1002
Associated issue's closed

[2022-09-30 17:32] #1002 closed

[2022-09-30 17:33] jacobkahn commented on #999
Closing due to inactivity

[2022-09-30 17:33] #999 closed

[2022-10-06 20:48] benam2 commented on #1004
Any update on this please???
This is really the worse experience ever :( how installing a package is that challenging!!

[2022-10-06 22:17] jacobkahn commented on #1004
@benam2 — the build message is pretty clear:

This is a known issue with FFTW and isn't an issue with Flashlight -- see https://github.com/FFTW/fftw3/issues/130. You can try building FFTW from source or installing a version that ships `FFTW3LibraryDepends.cmake` which will properly define the library target `make` is failing to find a rule for.

If you're looking for beam search decoding and not a

[2022-10-06 22:28] jasonppy opened #1024 "failed to build from source with CUDA architecture of 86"
### Bug Description
I tried to build from source by following the instructions in readme, at step
`cmake .. -DCMAKE_BUILD_TYPE=Release -DFL_BUILD_ARRAYFIRE=ON -DCMAKE_CUDA_ARCHITECTURES=86`, it gives an error
[code]

Note that A40 has architecture 86.

### Platform and Hardware
OS:
NAME="Ubuntu"
VERSION="20.04.3 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.3 LTS"
VERSION_I

[2022-10-06 22:40] benam2 commented on #1004
@jacobkahn You are totally right. The problem is that for some reason building the FFTW3 raises error that's why I stopped using the GitHub to build.

What I finally did to install the flashlight with the help of your suggestion is that to install fftw3 with tools and then `sudo cp FFTW3LibraryDepends.cmake /usr/local/lib/cmake/fftw3/`

Now flashlight apparently got installed into my coda environm

[2022-10-06 22:43] jacobkahn commented on #1004
@benam2 — are you trying to do decoding? `CriterionType` is defined in [Flashlight Text](https://github.com/flashlight/text/) -- installations instructions are here. Quickstart instructions for bindings [here](https://github.com/flashlight/text/#quickstart).

[2022-10-06 22:45] benam2 commented on #1004
@jacobkahn I'm trying to use  `s3prl` package to train ASR models. Do you think I should install Flashlight text instead?

[2022-10-06 23:02] benam2 commented on #1004
@jacobkahn could you please share your idea with me? the reason I started installing `flashlight python binding` is that I've given the instruction from someone who had ran the code. Thats why I did not look into the alternative.

Now I think he may have just forgot to share this part with me.
And the reason I don't install the `flashlight text binging` without confirmation is that I'm afraid just

[2022-10-06 23:05] jacobkahn commented on #1004
@benam2 — s3prl depends on Flashlight: [Flashlight Text](https://github.com/flashlight/text) is a requirement, but it isn't clearly documented -- thanks for the callout. I'll send a PR updating that shortly.

[2022-10-06 23:09] benam2 commented on #1004
@jacobkahn I do apologize for asking so many questions. So for `s3prl` I need to install the
1. build `flashlight`
2. install `python bindings`
3. And `bindings for flashlight text`

And since I have done the first two, I will need to do the `flashlight text` as well. Is this correct?

[2022-10-06 23:11] jacobkahn commented on #1004
@benam2 — after looking at `s3prl`, you *don't* need to build `Flashlight` or the Python bindings in this repo -- you only need `Flashlight Text` -- [quickstart here](https://github.com/flashlight/text#quickstart).

[2022-10-06 23:14] benam2 commented on #1004
I really don't know how to thank you :), and I hope you don't mind if I mention you in case I faced with error (hopefully I won't )

Thank again @jacobkahn

[2022-10-06 23:34] benam2 commented on #1004
@jacobkahn
I just ran these:
[code]

And this is the error:

[code]

I can't get from the error itself what could be missing
@jacobkahn

[2022-10-06 23:36] jacobkahn commented on #1024
What's your CUDA version? Looks like you're trying to use an arch version which is newer than your CUDA version's nvcc will support.

[2022-10-06 23:37] jacobkahn commented on #1005
@Shahilcoder — this is an issue with the commit the vcpkg version is frozen at not working with new compilers. Probably not much that can be done about this besides updating the vcpkg port.

Can you build from source?

[2022-10-06 23:51] jasonppy commented on #1024
Thanks for your quick reply! The CUDA version is 11.5

[2022-10-07 00:17] benam2 commented on #1004
Sorry again @jacobkahn but if you have an even a remote idea what else could be related to this error, I would really really appreciate if you could share with me. Its been too long I got stuck on this project .

[2022-10-07 06:06] benam2 opened #1025 "NameError: name 'CriterionType' is not defined"
This is the error I get:

[code]

I reviewed this issue but I did not help me https://github.com/flashlight/flashlight/issues/416#issue-783305697

1. when I run this `import flashlight`  --> does not raises any error
2. when I run this `from flashlight.lib.text.decoder import CriterionType`   --> it raises this: `ModuleNotFoundError: No module named 'flashlight.lib.text'`
3. I can successfully run

[2022-10-07 20:00] benam2 commented on #1025
I really appreciate it if you can have a quick look at this issue, I've included all the information and steps I took and was mentioned in other issue pages to fix it but no luck :(. @jacobkahn @tlikhomanenko
Thanks again for your time

[2022-10-07 20:19] benam2 commented on #1025
I don't know if it can help but this are the warnings I get before raising error:

[code]

[2022-10-10 16:33] benam2 commented on #1025
Any help on this please @jacobkahn @tlikhomanenko

[2022-10-10 16:42] jacobkahn commented on #1025
@benam2 opened https://github.com/s3prl/s3prl/issues/407 -- I'll play around with this for a minute to see if there's an easy fix, but the bindings haven't changed.

[2022-10-10 16:49] benam2 commented on #1025
I really appreciate it. I have already installed `flashlight text` as you suggested but did not fix this error. Does that mean for some reason it has not been installed correctly? (didn't raise any error though)

This is the last part of the log in terminal

[code]
@jacobkahn

[2022-10-10 16:51] benam2 commented on #1025
I did not uninstall the flashlight, could it be the reason? @jacobkahn

[2022-10-11 20:13] jacobkahn commented on #1025
@benam2 — did you install Flashlight Text -- https://github.com/flashlight/text?
[code]
works for me on a fresh install of Flashlight Text

[2022-10-11 20:17] benam2 commented on #1025
@jacobkahn Yes I did as you had suggested in another issue. I followed this:

[code]
and this is what I see in condo env: `flashlight-text           0.1                      pypi_0    pypi`

[2022-10-11 20:20] jacobkahn commented on #1025
@benam2

And
[code]
still fails? Can you check that you're using the correct Python interpreter in all cases?

[2022-10-11 20:31] benam2 commented on #1025
Im trying to run `https://github.com/s3prl/s3prl/blob/main/s3prl/downstream/asr/w2l_decoder.py` script and it raises error while reaches the line to import `from flashlight.lib.text.decoder import CriterionType`.

Yea I have activated the env for the `asr` and then try to get that script running. I will create a new env again and try from scratch. Thanks for taking the time. I will share If I was

[2022-10-11 20:35] benam2 commented on #1025
@jacobkahn Just before starting everything from scratch, could you please comment on this error log that anything else looks suspicious to you. I really appreciate it if you can have a quick look:

[code]
@jacobkahn

[2022-10-11 20:41] jacobkahn commented on #1025
@benam2 — nothing interesting happening here besides that Text isn't properly installed -- your goal should be to get
[code]
working

[2022-10-11 20:49] benam2 commented on #1025
By chance I just tried to just import the library and not run the code and it does not raise any error.
It seems that it has been installed correctly since `from flashlight.lib.text.decoder import CriterionType` does not raise any error :|

Do you still think that the error log I shared before looks ok? @jacobkahn

[2022-10-11 21:07] jacobkahn commented on #1025
@benam2 if the import succeeds, it means Flashlight Text is installed correctly and that there's an issue with s3prl. You should open an issue in their repo.

[2022-10-11 23:12] Slyne opened #1031 "Is the ctc decoder supports word piece decoding ?"
### Question
I've found this [tutorial](https://pytorch.org/audio/main/tutorials/asr_inference_with_ctc_decoder_tutorial.html#beam-search-decoder) from pytorch.  It mentions the decoder is ported from flashlight. However, it doesn't mention whether this decoder support wordpiece/sentpiece/bpe decoding.  I've tried several audio files and with a model whose outputs are bpe, but the output is just e

[2022-10-12 06:12] benam2 commented on #1025
Im really sorry to get back to you again. I did test a lot of things. The problem is not with s3prl script I think.
I created a new env, and then checked the code.

In the script where it imports the library it had used `try except` that's why it did not refer to the exact error line correctly. What I did, I just remove the `try/except`. it means I changed this lines:

[code]

to this line:

[code

[2022-10-12 16:16] jacobkahn commented on #1025
@benam2 you still to install sequence bindings which are still in this repo.

You were having trouble with FFTW before -- you can disable installing it with [this diff](https://gist.github.com/jacobkahn/f345a94974838c89df6b07f77824fca5).

End to end flow that works for me:
[code]

I'm in the process of moving `flashlight.lib.sequence` bindings to another repo this week, but this should unblock you

[2022-10-12 16:21] jacobkahn commented on #1025
@benam2 The package you're trying to use doesn't use ASG, which is the only thing in the sequence library that is eligible to be build with CUDA. Building with it won't affect performance since that codepath isn't being called but you can enable it if you feel like it :)

[2022-10-12 16:40] benam2 commented on #1025
@jacobkahn
So this is the message for the flashlight `Successfully installed flashlight-1.0.0`
And this is the error after importing `ModuleNotFoundError: No module named 'flashlight.lib.sequence'`

[2022-10-12 17:17] jacobkahn commented on #1025
@benam2 — well — turns out this is a bug in some envs!

Fix is in https://github.com/flashlight/flashlight/pull/1032. I'll let you know when those both land and we can retry.

[2022-10-12 18:03] #1025 closed

[2022-10-12 18:52] benam2 commented on #1025
@jacobkahn the error related to `flashlight.lib.sequence` fortunately got fixed but I think there has been a change in `flashlight/text` that now it raises error. Should I wait for a new commit or is there anything I need to do in my end?

(If that helps, I just tried this approach on an older env that I had installed the `flashlight-text` successfully and I could import successfully yesterday. Bu

[2022-10-12 18:57] jacobkahn commented on #1025
@benam2 — you need to `pip uninstall flashlight` and `pip uninstall flashlight-text` before installing them both again, from source, with up to date branches.

[2022-10-12 18:59] benam2 commented on #1025
I had uninstalled `flashlight-text` but same thing happened. I will try to uninstall both of them and if it did not work create a new env again. I hope that fix it. I will update here. Thanks again.

[2022-10-12 19:05] benam2 commented on #1025
Uninstalling did not help. I go to create a new env and do everything again. Just one quick thing that `git apply diff.out` raises error but it installs successfully. Is that ok? @jacobkahn

[2022-10-12 19:45] benam2 commented on #1025
@jacobkahn I created a new env, and followed your instruction:

1. python -c "import flashlight.lib.sequence".  Runs successfully
2. python -c "import flashlight.lib.text". Raises Error

and like I said `git apply diff.out` raises error but I think that is fine since the original error is fixed.
I use `python= 3.8`

Did you do it in conda env?

[2022-10-12 19:51] jacobkahn commented on #1025
@benam2:

Updated diff for debugging purposes: https://gist.githubusercontent.com/jacobkahn/4b26e5146b70c5cfc18c429a8bc9cc52/raw/be75c21d27e1ebe4f7e407a1b32316a7fe0637ed/diff.out

Can you nuke and reclone your Flashlight Text repo, `pip uninstall flashlight-text`, and install again? I've confirmed that everything works with multiple envs.

[2022-10-12 20:11] benam2 commented on #1025
@jacobkahn Still raises error. Im gonna share what exactly Im doing so that if you confirm the steps I will spend some time to try different things.

These are my step:

[code]

 I have 1 question as well.

1. I remember initially I was trying to install the flashlight, MKL .... so they are somewhere in my system. do you think that can affect what Im experiencing now? if so I may need to remove my

[2022-10-13 06:21] kovalyshyn opened #1033 "Build error on Debian 11 with CUDA (86)"
### Bug Description

I can't build on Debian 11 with NVIDIA GeForce RTX 3060
All the time I get the same error:

[code]

#### Reproduction Steps

[code]

[code]

### Platform and Hardware
CPU:            AMD Ryzen 9 5950X 16-Core Processor
Description:    Debian GNU/Linux 11 (bullseye)

cmake version 3.18.4
GNU Make 4.3

#### Additional Context

[code]

[2022-10-13 13:14] kovalyshyn commented on #1024
I have the same architecture 86. With CUDA 11.8 I haven't such issue.
But I have this issue #1033

[2022-10-13 14:04] jacobkahn commented on #1033
@kovalyshyn thanks for reporting — this looks like a CMake bug in the current build. I'll dig into this shortly.

[2022-10-13 16:49] jacobkahn commented on #1024
@jasonppy — this command works for me without issue:
[code]
a few odd things about yours -- `FL_BUILD_ARRAYFIRE` isn't a valid build option -- you need `FL_USE_ARRAYFIRE`.  I'll check the docs to see if that's a mistake, but I'm not sure why you'd have a problem. I also tested this with CMake 3.25 rc1.

[2022-10-13 17:36] jacobkahn commented on #1025
@benam2 — this is now an error with the package you're using. The error's likely that the file you're trying to load doesn't exist, but I'd open an issue with s3prl and they'll help you debug. Glad everything is working on the Flashlight side.

[2022-10-13 17:41] benam2 commented on #1025
Actually the file exist and that was the first thing I checked.
 The code in the s3prl is very straightforward in the sense that it raises error in this line `self.lexicon = load_words(args.lexicon)` and this load_words is one functionality in `flashlight-text` not something that `s3prl` has implemented. Could you please share your reasoning why this is not a `flashlight-text` error?

[2022-10-13 17:48] benam2 commented on #1025
Alright, @jacobkahn  I will check various ways to see where could be wrong. thanks again. and I greatly appreciate your quick reply.

[2022-10-13 20:02] jasonppy commented on #1024
Thanks for your reply. The command in your reply leads to the same error

[2022-10-13 20:03] jacobkahn commented on #1024
@jasonppy ah, you're on 0.3.2 — looks like new versions of CMake that set the CUDA arch flag in the way they do don't work with the copied CUDA shims.

Can you checking `main` and try to build from source, or is there a particular reason you need 0.3.2?

[2022-10-13 20:09] jasonppy commented on #1024
are you referring to #1033 ? This is not me...
I'm always on the latest commit.

[2022-10-14 06:03] kovalyshyn commented on #1033
@jacobkahn thank You for answer.
I just tried the latest master.

[code]

During `cmake` I get an error:

[code]

[2022-10-15 07:46] Shahilcoder commented on #1005
Okay I will try building from source, can you refer me to how to do that?

[2022-10-15 22:11] jacobkahn commented on #1033
@kovalyshyn — you need to install [Flashlight Text](https://github.com/flashlight/text/) -- it should be installed automatically by the build, but there might be some issues. I'm updating the CMake config project-wide in Flashlight this week, so hopefully that'll resolve issues like this. I'll follow up.

[2022-10-26 11:52] sciai-ai opened #1044 "How do i get the logits from the ASR model"
I am using the flashlight/build/bin/asr/fl_asr_test command and able to get the output. Is is possible to get the logits that have been predicted by the model?

[2022-10-28 02:58] vchagari opened #1046 "Flashlight 0.3v is not generating all the needed ASR library files like the previous version."
### Bug Description
Flashlight version 0.3v is not generating all the ASR related Libraries like the previous version.

Libraries that didn't get generated by V0.3:
1. flashlight-app-asr
2. flashlight-app-imgclass
3. flashlight-app-lm
4. fl-libraries

#### Reproduction Steps
Flashlight Compilation Steps:

V0.3 Flashlight with latest Commit:
    git clone https://github.com/facebookresearch/flashli

[2022-10-28 22:46] charlesrwest opened #1048 "ONNX Support?"
Hello!

Really excited to see a C++ first machine learning library.  I've been working in C++ since 2007 and literally only picked up python because there weren't good options for machine learning in C++.

That said, I can't port over my existing setup without being able to export to ONNX so that it can run on TensorRT for edge deployment.  If I may ask, is ONNX support on the horizon or pretty fa

[2022-10-31 03:39] jacobkahn commented on #1005
@Shahilcoder https://github.com/flashlight/flashlight#building-from-source

[2022-10-31 03:39] #1005 closed

[2022-10-31 19:39] jacobkahn commented on #1046
@vchagari — the name of the libraries has changed (and may change again in the future before the next release).

`libfl_pkg_speech` now contains the ASR library. The binaries in question (i.e. `fl_asr_train`) depend on `libfl_pkg_speech` and `libflashlight`.

We're making changes to Flashlight components still, and it may be some time before things stabilize. Hope this helps clarify — let us know

[2022-10-31 19:39] #1046 closed

[2022-10-31 19:40] jacobkahn commented on #1048
@charlesrwest — ONNX support isn't currently something we'll have the resources for for the foreseeable future; but do say so if you're interested in contributing!

[2022-10-31 19:40] #1048 closed

[2022-10-31 19:42] jacobkahn commented on #1044
@sciai-ai — we use `emission` interchangeably with logits. Emissions are available by changing the source here: https://github.com/flashlight/flashlight/blob/main/flashlight/app/asr/Test.cpp#L308 — `rawEmissions` is a GPU tensor with emissions, and `emissions` is the `vector<float>` on the CPU.

[2022-10-31 19:42] #1044 closed

[2022-10-31 19:43] jacobkahn commented on #1031
@Slyne — would you mind moving your question to https://github.com/flashlight/text? We've moved decoding utilities there.

In short — yes, the decoder supports word piece/sentencepiece/BPE decoding. The decoder doesn't care about the modeling unit -- if you provide a token set that's composed of word pieces and a lexicon that has word spellings in terms of word pieces, then you can do beam search

[2022-10-31 19:43] #1031 closed

[2022-10-31 19:44] jacobkahn commented on #1011
Closing due to inactivity.

[2022-10-31 19:44] #1011 closed

[2022-11-01 04:49] risingsunomi commented on #999
Sorry this totally fell off for me due to other projects. I will try that and get back to you but will check out any new updates now to the project

[2022-11-01 16:41] VamsiChagari commented on #1046
Thank you for the info @jacobkahn.
Looks like the API interfaces are also changed in the 3.0 version when compared to the previous version. I am unable to compile the inference code I have with the new version (3.0) Libraries.

[2022-11-01 16:51] vchagari commented on #1046
Thank you for the Info @jacobkahn.

Looks like the API's have changed in the Flashlight 0.3 Version. I am unable to compile/use the existing inference code after updating the flashlight to v0.3 along with the generated libraries.

[2022-11-02 07:25] kovalyshyn commented on #1033
The latest try to build from source:

git pull
Already up to date.

MKLROOT=/opt/intel/mkl
ArrayFire_DIR=/opt/arrayfire/share/ArrayFire/cmake
mkdir -p build && cd build
cmake .. -DCMAKE_BUILD_TYPE=Release -DFL_BUILD_TESTS=OFF -DFL_BUILD_EXAMPLES=OFF -DFL_BUILD_APP_ASR=ON   -DFL_BUILD_PKG_SPEECH=ON -DFL_BUILD_LIB_AUDIO=ON -DFL_BUILD_PKG_RUNTIME=ON -Wno-dev

[code]

I have install all dependencies.

[2022-11-02 21:21] yushiyangk opened #1053 "Incorrect documentation for `fl::tril`"
### Bug Description
Docs refer to "upper triangular" instead of lower.

#### Reproduction Steps
https://fl.readthedocs.io/en/latest/tensor.html#_CPPv4N2fl4trilERK6Tensor

[2022-11-02 21:24] yushiyangk commented on #1053
I tried to fix this myself, but when following `docs/README.md`, running `make html` gave

[code]

[2022-11-02 21:25] yushiyangk commented on #1053
Tried to fix this myself, but `make html` from docs/README.md gave

[code]

[2022-11-03 17:25] vchagari opened #1054 "Valgrind Reporting Memory Leaks in Flashlight Libraries."
### Bug Description
Running Inference with Valgrind tool reports memory leaks in Flashlight and ArrayFire libraires.

1.
==209== **35,580,804 (472 direct, 35,580,332 indirect) bytes in 1 blocks** are definitely lost in loss record 4,810 of 4,817
==209==    at 0x483BE63: operator new(unsigned long) (in /usr/lib/x86_64-linux-gnu/valgrind/vgpreload_memcheck-amd64-linux.so)
==209==    by 0x932E53: std

[2022-11-07 18:07] Amartyaveer commented on #557
Did you find the solution to this issue?

[2022-11-19 03:22] jacobkahn commented on #557
@Amartyaveer — these bindings now live in https://github.com/flashlight/text/. Follow the install instructions there, and open an issue if you run into any problems.

[2022-11-19 03:23] jacobkahn commented on #1046
@vchagari — the APIs have indeed changed — we have not yet updated the inference pipeline and other downstream dependencies to work with Flashlight >= 0.3, but we'll hopefully make those changes in the coming months.

[2022-11-21 13:45] xiabingquan opened #1058 "python3 setup.py install fails because FFTW3 doesn't support installation via CMake"
### Bug Description
When creating python bindings for flashlight, we run `python setup.py install` in the directory `bindings/python`. The
script`setup.py` starts a new sub-process:
https://github.com/flashlight/flashlight/blob/2261fd9e4ff9f6155ddd40eed19f45c2dd72939a/bindings/python/setup.py#L99-L104
It runs Cmake to build essential components. The problem is that FFTW3 doesn't support installati

[2022-11-27 05:57] maniyar1 commented on #1058
Just hit this, thank you for the information, you helped me figure out how to compile. Much appreciated.

[2022-11-28 02:30] rshn1994 commented on #1033
Hello I tried to build from source:
[code]
cmake .. -DCMAKE_BUILD_TYPE=Release -DFL_USE_ONEDNN=OFF -DFL_USE_ARRAYFIRE=ON -DFL_ARRAYFIRE_USE_CUDA=ON -DCMAKE_CUDA_ARCHITECTURES=86 -DCMAKE_INSTALL_PREFIX=/opt/flashlight -DFL_BUILD_ALL_APPS=ON
[code]
But  ```make -j$(nproc)``` is throwing some errors
[code]
Please @jacobkahn could you look into this?

[2022-11-28 11:27] xiabingquan commented on #1058
You're welcome. This bug did bother me for a while. Glad it helps.

[2022-11-28 12:18] lengoanhcat commented on #542
@loretoparisi : have you had any further comment on the possibility of creating a js binding for flashlight ?

[2022-11-28 17:01] maniyar1 commented on #641
Hey, checking in on this. Is this still an option? I'm trying to use the asr app. Compiling with `-DFL_LIBRARIES_USE_MKL=OFF` produces a binary that still depends on MKL, but if I use patchelf to remove the mkl_rt.so.2 dependency, `fl_asr_tutorial_inference_ctc` runs, but with basically useless accuracy on word detection. Though I'm surprised it runs at all...

[2022-11-30 14:05] mrezasoltani opened #1062 "The link for building/installing Python bindings is empty"

[2022-11-30 20:01] #1062 closed